<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="planbase" sizes="100x100" href="/assets/dash/img/logos/logo-planbase100x100.svg">
  <link rel="icon" type="image/png" href="/assets/dash/img/logos/logo-planbase100x100.svg">
  <title>
    PlanBase - Cadastro
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/assets/dash/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/dash/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/dash/css/material-dashboard.css" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>
<style>
    .input-receita {
        position: relative;
    }

    .inpt-receita-el{
        width: 100%;
        border: solid 1.5px #d2d6da;
        border-radius: 0.4rem;
        background: none;
        padding: 0.4rem;
        font-size: 1rem;
        color: #d2d6da;
        transition: border 150ms cubic-bezier(0.4,0,0.2,1);
        }

    .user-label-receita {
        position: absolute;
        left: 11px;
        bottom: 16px;
        pointer-events: none;
        transform: translateY(1rem);
        transition: 150ms cubic-bezier(0.4,0,0.2,1);
    }

    .inpt-receita-el:focus, .inpt-receita-el:valid {
        outline: 0;
        border: 1px solid #4e4945;
        color: #131211;
    }

    .inpt-receita-el:focus ~ label, .inpt-receita-el:valid ~ label {
        transform: translateY(-50%) scale(0.8);
        background-color: white;
        padding: 0 0.2em;
        color: #131211;
        top: -2px;
        width: auto;
    }

    .inpt-receita-el::placeholder{
        font-size: .90rem;
        color: #aca9a9;
    }
</style>

<body class="">
  <a href="/adm/cadastro/" class="sair position-absolute d-flex z-index-3" style="left: 0.5em; top: .5em;">
    <img src="/assets/dash/img/icons/sair.svg" alt="Voltar" title="Voltar" style="width: 2.5em;">
  </a>
  <main class="main-content mt-0"  style="background-image: url('/assets/dash/img/background-adm.jpg'); background-size: cover; opacity: 10;">
    <section>
      <div class="page-header min-vh-100">
        <div class="container m-0">
          <div class="row d-flex justify-content-end" style="width: 100vw;">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column" style="background-color: white; height: 100vh; overflow: auto;">
              <div class="card card-plain">
                <div class="card-header pt-5 pb-3">
                  <h3 class="font-weight-bolder">Cadastrar</h3>
                  <p class="mb-0 w-75">Preencha os dados para cadastrar um novo usuário no sistema.</p>
                </div>
                <div class="card-body">
                    <h5>Dados Pessoais</h5>
                  <form role="form" method="">
                    <div class="row">
                        <!-- Lado Esquerdo -->
                        <div class="col-6">
                            <!-- CPF -->
                            <div class="input-receita mb-3">
                                <input class="inpt-receita-el" type="text" name="CPF" id="cpf" maxlength="14" autocomplete="off"
                                  class="input" placeholder="XXX.XXX.XXX-XX">
                                <label class="user-label-receita">CPF</label>
                              </div>

                            <!-- Email -->
                            <div class="input-receita mb-3">
                              <input class="inpt-receita-el" type="text" name="Email" autocomplete="off"
                                class="input">
                              <label class="user-label-receita">Email</label>
                            </div>

                            <!-- Telefone -->
                            <div class="input-receita mb-3">
                                <input class="inpt-receita-el" type="text" name="Telefone" id="telefone" maxlength="14" autocomplete="off"
                                  class="input" placeholder="(XX)XXXX-XXXX">
                                <label class="user-label-receita">Telefone</label>
                              </div>

                            <!-- UF -->
                            <div class="input-receita mb-3">
                                <select name="UF" class="w-100 p-2 inpt-receita-el">
                                    <option value="">UF</option>
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                                <label class="user-label-receita">UF</label>
                            </div>
                        </div>
                        <!-- Lado Direito -->
                        <div class="col-6">
                            <!-- Nome -->
                            <div class="input-receita mb-3">
                                <input class="inpt-receita-el" type="text" name="Nome" autocomplete="off"
                                  class="input" placeholder="Nome Completo">
                                <label class="user-label-receita">Nome</label>
                              </div>

                            <!-- Data de Nascimento -->
                            <div class="input-receita mb-3">
                                <input class="inpt-receita-el" type="date" name="Data" autocomplete="off"
                                  class="input">
                                <label class="user-label-receita">Data</label>
                              </div>

                            <!-- Cidade -->
                            <div class="input-receita mb-3">
                                <input class="inpt-receita-el" type="text" name="Cidade" autocomplete="off"
                                  class="input">
                                <label class="user-label-receita">Cidade</label>
                              </div>

                            <!-- País -->
                            <div class="input-receita mb-3">
                                <select name="País" class="w-100 p-2 inpt-receita-el">
                                    <option value="">País</option>
                                    <option value="BR">Brasil</option>
                                    <option value="US">Estados Unidos</option>
                                    <option value="CA">Canadá</option>
                                    <option value="JP">Japão</option>
                                    <option value="FR">França</option>
                                    <option value="DE">Alemanha</option>
                                    <option value="IN">Índia</option>
                                    <option value="CN">China</option>
                                    <option value="ZA">África do Sul</option>
                                    <option value="AU">Austrália</option>
                                </select>
                                <label class="user-label-receita">País</label>
                            </div>
                        </div>
                    </div>
                    <!-- Fim Dados Pessoais -->

                    <!-- Dados Profissionais -->
                    <h5 class="mt-3">Dados Profissionais</h5>
                    <div class="row">

                        <!-- Lado Esquerdo -->
                        <div class="col-6">

                            <!-- Data Ínicio -->
                            <div class="input-receita mb-3">
                                <input class="inpt-receita-el" type="date" name="Data Ínicio" autocomplete="off"
                                  class="input">
                                <label class="user-label-receita">Data Ínicio</label>
                              </div>

                            
                            <!-- Senha -->
                            <div class="input-receita mb-3">
                              <input class="inpt-receita-el" type="password" name="Senha" id="senha" autocomplete="off"
                                class="input">
                              <label class="user-label-receita">Senha</label>
                            </div>
                            <div class="form-check form-check-info text-start ps-0">
                              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                              <label class="form-check-label" for="flexCheckDefault">
                                Mostrar Senha
                              </label>
                            </div>
                        </div>

                        <!-- Lado Direito -->
                        <div class="col-6">
                            <!-- Cargo -->
                            <div class="input-receita mb-3">
                            <select name="Cargo" class="w-100 p-2 inpt-receita-el">
                                <option value="">Cargo</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Gestor">Gestor</option>
                                <option value="Funcionário">Funcionário</option>
                            </select>
                            <label class="user-label-receita">Cargo</label>
                        </div>

                          <!-- Confirmar Senha -->
                          <div class="input-receita mb-3">
                            <input class="inpt-receita-el" type="password" name="Confirmar Senha" id="confirmSenha" autocomplete="off"
                              class="input">
                            <label class="user-label-receita">Confirmar Senha</label>
                          </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <div class="text-center w-50">
                            <a href="/adm/cadastro/" type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 w-75">Cadastrar</a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <footer class="mt-6 d-flex gap-2">
                            Copyright
                            <p class="font-weight-bold text-dark">Planbase | Adm</p>
                            © <script>
                                document.write(new Date().getFullYear())
                              </script>
                        </footer>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--   Core JS Files   -->
  <script src="/assets/dash/js/core/popper.min.js"></script>
  <script src="/assets/dash/js/core/bootstrap.min.js"></script>
  <script src="/assets/dash/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/assets/dash/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    function formatarCPF(campoCPF) {
    const inputCPF = document.getElementById(campoCPF);

    inputCPF.addEventListener('input', () => {
        // Remove qualquer caractere não numérico
        let cpfDigitado = inputCPF.value.replace(/\D/g, '');

        // Formata o CPF com os pontos e traço
        let cpfFormatado = '';
        for (let i = 0; i < cpfDigitado.length; i++) {
        if (i === 3 || i === 6) {
            cpfFormatado += '.';
        } else if (i === 9) {
            cpfFormatado += '-';
        }
        cpfFormatado += cpfDigitado[i];
        }

        inputCPF.value = cpfFormatado;
    });
    }
    formatarCPF('cpf')

    function formatarTelefone(campoTelefone) {
    
    const inputTelefone = document.getElementById(campoTelefone);

    inputTelefone.addEventListener('input', () => {
        // Remove qualquer caractere não numérico
        let numeroTelefone = inputTelefone.value.replace(/\D/g, '');

        // Formata o número de telefone com parênteses e traço
        let numeroFormatado = '';
        for (let i = 0; i < numeroTelefone.length; i++) {
        if (i === 0) {
            numeroFormatado += '(';
        } else if (i === 2) {
            numeroFormatado += ')';
        } else if (i === 7) {
            numeroFormatado += '-';
        }
        numeroFormatado += numeroTelefone[i];
        }

        inputTelefone.value = numeroFormatado;
    });
}
    formatarTelefone('telefone')

    function mostrarSenha(senhaId, confirmarSenhaId, checkId) {
        const senhaInput = document.getElementById(senhaId);
        const confSenhaInput = document.getElementById(confirmarSenhaId);
        const check = document.getElementById(checkId);

        check.addEventListener('change', function () {
            if (check.checked) {
            senhaInput.type = 'text';
            confSenhaInput.type = 'text';
            } else {
            senhaInput.type = 'password';
            confSenhaInput.type = 'password';
            }
        });
    }
    mostrarSenha('senha','confirmSenha','flexCheckDefault')
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/dash/js/material-dashboard.min.js?v=3.1.0"></script>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>