<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="planbase" sizes="100x100" href="/assets/dash/img/logos/logo-planbase100x100.svg">
  <link rel="icon" type="image/png" href="/assets/dash/img/logos/logo-planbase100x100.svg">
  <title>
    PlanBase - Perfil
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/assets/dash/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/dash/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/dash/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
  <!-- Profile CSS -->
  <link rel="stylesheet" href="/assets/dash/css/pages/profile.css">
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>
<style>
  #escreverDescricao::placeholder{
    padding: 5px;
    padding-left: 8px;
  }
</style>

<body class="g-sidenav-show bg-gray-200">
  <!-- Aside -->
  <aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark"
  id="sidenav-main">
  <div class="sidenav-header d-flex justify-content-center p-3">
    <a class=" m-0 " href="/">
      <img src="/assets/dash/img/logos/logo3.png" class="img-fluid" alt="main_logo" style="height: 50px; width: 12rem;">
            </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="/">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/tables">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
          <span class="nav-link-text ms-1">Registros</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/billing">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">receipt_long</i>
          </div>
          <span class="nav-link-text ms-1">Gestão</span>
        </a>
      </li>
      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Financeiro</h6>
      </li>
      <li class="nav-item">
        <!-- /tables/entradas-->
        <a class="nav-link text-white " href="/tables/entradas">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
           <img src="/assets/dash/img/icons/entrada.svg" alt="Entrada">
          </div>
          <span class="nav-link-text ms-1">Entradas</span>
        </a>
      </li>
      <li class="nav-item">
        <!-- /tables/saidas -->
        <a class="nav-link text-white " href="/tables/saidas">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <img src="/assets/dash/img/icons/saída.svg" alt="Saída">
          </div>
          <span class="nav-link-text ms-1">Saídas</span>
        </a>
      </li>
      <li class="nav-item">
        <!-- /tables/caixa -->
        <a class="nav-link text-white " href="/tables/caixa">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <img src="/assets/dash/img/icons/caixa.svg" alt="Caixa">
          </div>
          <span class="nav-link-text ms-1">Caixa</span>
        </a>
      </li>
      <li class="nav-item">
        <!-- /tables/previsao -->
        <a class="nav-link text-white " href="/tables/previsao">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <img src="/assets/dash/img/icons/previsão.svg" alt="Previsão">
          </div>
          <span class="nav-link-text ms-1">Previsão</span>
        </a>
      </li>

      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Conta</h6>
      </li>
      <li class="nav-item">
        <!-- /profile/:id -->
        <a class="nav-link text-white active bg-gradient-primary" href="/profile">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">person</i>
          </div>
          <span class="nav-link-text ms-1">Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <!-- /faq -->
        <a class="nav-link text-white " href="/faq">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <img src="/assets/dash/img/dúvida.svg" alt="Dúvidas">
          </div>
          <span class="nav-link-text ms-1">FAQ</span>
        </a>
      </li>
    </ul>
  </div>
    <!-- Footer -->
    <footer class="footer py-2 d-flex flex-column justify-content-center">
      <div class="copyright text-center text-sm text-muted text-lg-center">
        Copyright © Planbase
        <script>
          document.write(new Date().getFullYear())
        </script>
      </div>
      <!-- /devs -->
      <a class="nav-link text-white d-flex justify-content-start" href="/devs">
        <img class="ms-4" src="/assets/dash/img/icons/code.svg" alt="Code">
        <span class="nav-link-text ms-2">Conheça os Devs!</span>
      </a>
    </footer>
    <!-- Footer End -->
</aside>
<!-- Aside end -->
  <div class="main-content position-relative max-height-vh-100 h-100">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
        data-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>
            </ol>
            <h6 class="font-weight-bolder mb-0">Dashboard</h6>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            </div>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-flex align-items-center d-none">
                <a href="/adm/login/" class="nav-link text-body font-weight-bold px-0">
                  <span class="d-sm-inline d-none">Administrador</span>
                </a>
              </li>
              <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                  <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                  </div>
                </a>
              </li>
              <li class="nav-item px-3 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body p-0">
                  <lord-icon class="fixed-plugin-button-nav cursor-pointer" src="https://cdn.lordicon.com/dycatgju.json"
                    trigger="hover" colors="primary:#7b809a" style="width:20px;height:20px">
                  </lord-icon>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4"
        style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="/assets/dash/img/bruce-mars.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">
              <h5 class="mb-1" id="nome">
                Richard Davis
              </h5>
              <p class="mb-0 font-weight-normal text-sm" id="cargo">
                Gestor
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
            <div class="nav-wrapper position-relative end-0 d-flex justify-content-end me-4">
              <li class="nav-item dropdown remove-list bg-gradient-primary border-radius-lg p-2 text-white">
                <a class="nav-link dropdown-toggle d-flex space-5 align-items-center" href="#" id="navbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                    class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>Configurações</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalEditarPerfil">Editar Perfil</a></li>
                </ul>
              </li>
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-baseline">
          <div class="col-lg-6">
            <div class="row">
              <div class="card card-plain h-100">
                <div class="card-header pb-0 p-3">
                  <div class="row">
                    <div class="col-md-8 d-flex align-items-center ps-3 space-5">
                      <h6 class="mb-0">Biografia Profissional</h6>
                      <a href="javascript:;">
                        <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
                          data-bs-placement="top" title="Edit Profile"></i>
                      </a>
                    </div>
                    <div class="card-body p-3">
                      <p class="text-sm" id="bio">
                        Hi, I’m Alec Thompson, Decisions: If you can’t decide, the answer is no. If two equally
                        difficult paths, choose the one more painful in the short term (pain avoidance is creating an
                        illusion of equality).
                      </p>
                      <hr class="horizontal gray-light my-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nome Completo:</strong> &nbsp; <span id="nomeCompleto">Richard Davis Silva</span></li>
              <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Telefone:</strong>
                &nbsp; <span id="telefone">(00) 00000-0000</span></li>
              <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong>
                &nbsp; <span id="email">alecthompson@mail.com</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal de editar usuário -->
      <div class="modal fade" id="ModalEditarPerfil" tabindex="-1" aria-labelledby="ModalEditarPerfil2" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="Perfil">Editar o Perfil</h1>
                    <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="row p-3">
                  <div class="col-md-6 d-flex flex-column justify-content-center px-4">
                    <div class="row">
                      <div class="modal-body p-0">
                      <!-- Formulário para adicionar cartão -->
                        <form id="novoCartaoForm">
                          <div class="input-group input-group-outline my-3 w-100 p-1">
                              <label class="form-label">Nome Completo</label>
                              <input type="text" title="Nome" name="Nome" class="form-control" required>
                          </div>
                          <div class="input-group input-group-outline mb-3 w-100 p-1">
                              <label class="form-label">Nome de Usuário</label>
                              <input type="text" title="Usuário" name="Usuário" class="form-control" required>
                          </div>
                          <div class="input-group input-group-outline mb-3 w-100 p-1">
                            <label class="form-label">Email</label>
                            <input type="text" title="Email" name="Email" class="form-control" required>
                        </div>
                        <div class="input-group input-group-outline mb-3 w-100 p-1">
                          <label class="form-label">Telefone</label>
                          <input type="text" title="Telefone" name="Telefone" class="form-control" required>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row w-100 p-0 m-0">
                      <div class="modal-body d-flex flex-column align-items-center w-100 p-1">
                        <textarea class="border border-secondary border-radius-lg w-100" name="Descrição" id="escreverDescricao" cols="30" rows="10" placeholder="Biografia"></textarea>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" onclick="limparFormulario()">Limpar</button>
                    <button type="button" class="btn btn-dark"  data-bs-dismiss="modal">Adicionar</button>
                </div>
              </form>
            </div>
        </div>
      </div>
      <!-- Fim do modal de editar usuário --> 
      <div class="fixed-plugin">
      <!-- Navbar Lateral de Configurações -->
      <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
          <div class="float-start d-flex justify-content-center mt-3">
            <img class="w-100 img-fluid" src="/assets/dash/img/logos/logo3.png" alt="Logo Planbase">
          </div>
          <div class="float-end">
            <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
              <i class="material-icons">clear</i>
            </button>
          </div>
          <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1">
        <div class="card-body pt-sm-3 pt-0">
          <!-- Sidebar Backgrounds -->
          <div>
            <h6 class="mb-0">Temas para Escolha</h6>
          </div>
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors my-2 text-start">
              <span class="badge filter bg-gradient-primary active" data-color="primary"
                onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
            </div>
          </a>
          <!-- Temas -->
          <div class="mt-3">
            <h6 class="mb-0">Temas</h6>
            <p class="text-sm">Escolha essas opções para sua comodidade.</p>
          </div>
          <div class="d-flex">
            <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark"
              onclick="sidebarType(this)">Dark</button>
            <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent"
              onclick="sidebarType(this)">Transparente</button>
            <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white"
              onclick="sidebarType(this)">Branco</button>
          </div>
          <!-- Navbar Fixed -->
          <hr class="horizontal dark my-3">
          <div class="mt-2 d-flex">
            <h6 class="mb-0">Claro / Escuro</h6>
            <div class="form-check form-switch ps-0 ms-auto my-auto">
              <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
            </div>
          </div>
        </div>
      </div>
      <!-- Navbar Lateral de Configurações Final -->
        <!--   Core JS Files   -->
        <script src="/assets/dash/js/core/popper.min.js"></script>
        <script src="/assets/dash/js/core/bootstrap.min.js"></script>
        <script src="/assets/dash/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="/assets/dash/js/plugins/smooth-scrollbar.min.js"></script>
        <script>
          var win = navigator.platform.indexOf('Win') > -1;
          if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
              damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
          }
        </script>
        <!-- Github buttons -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/assets/dash/js/material-dashboard.min.js?v=3.1.0"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
        <script src="/assets/dash/js/pages/modal.js"></script>
        
        <script src="/assets/dash/js/pages/billing/profile-post.js"></script>
</body>

</html>